.container {
    width: 1024px;
    display: block;
    margin: 0 auto;
    background-color: coral;
}

#header {
    color: white;
    font-size: 30px;
}

.card {
    margin: 10px;
}

header {
    margin-bottom: 20px;
}

.img-wrapper {
    position: relative;
   }
  
.img-responsive {
    width: 12rem;
    height: 10rem;
    margin: 10px;  
}
  
.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
 }
  
.img-overlay:before {
    content: ' ';
    display: block;
    height: 65%;
}
.flickity img {
    height: 300px;
    width: 400px;
    margin-left: 20px;
}
.row, p, h2{
    padding-left: 40px;
}
.cocktailSlideShow img {
    width: auto;
    height: 445px;
    max-height: 445px;
    margin: auto; 
    display: block;
    padding-top: 30px;
}