.container {
    width: 1024px;
    display: block;
    margin: 0 auto;
}

#header p {
    color: orange;
    font-size: 30px;
    font-family: fantasy;
    text-align: center;
}

.card {
    margin: 10px;
}

header {
    margin-bottom: 20px;
}

.img-wrapper {
    position: relative;
   }
  
.img-responsive {
    width: 12rem;
    height: 10rem;
    margin: 10px;  
}
  
.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
 }
  
.img-overlay:before {
    content: ' ';
    display: block;
    height: 65%;
}
.flickity img {
    height: 300px;
    width: 400px;
    margin-left: 20px;
}
.row, p, h2{
    padding-left: 40px;
    color: whitesmoke;
    z-index: 1;  
}
.cocktailSlideShow img {
    width: auto;
    height: 445px;
    max-height: 445px;
    margin: auto; 
    display: block;
    padding-top: 30px;
}
body::before {
    content: "";
    background-image: url(../images/bar.jpg);
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
.flickity{
    padding-top: 50px;
}

.modal-backdrop {
    opacity: 0.75 !important;
  }

  .modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 5rem;
    background: rgb(116, 3, 3);
    border: 1px solid #c8b328;
    text-align: center;
  }

  .btn {
    border-radius: 0 !important;
    color: #c8b328;
    border: 2px solid #c8b328 !important;
    padding: .5rem 3rem !important;
  }

  .btn:hover {
    background: #c8b328;
    color:  blue;
    border: 2px solid #fff !important;
    padding: .5rem 3rem !important;
  }
  @media (max-width:768px) {
    .mobile-margin-bottom{
      margin-bottom:.5rem;
    }
    
  }
