img{
    height: 200px; width: 300px;
}
.clearfix::after {
    content: " ";
    display: inline-block;
    clear: both;
}
.ingredientSection{
    float: left;
}
.instructionSection{
    float: left;
}
.ingredientMesr{
    margin-left: 200px;
    padding-top: 8px;
}